

*{
  margin: 0;
  padding: 0;
  border-box: box-sizing;
  background-color: #F8F8FF;
}

main{
  padding-top: 50px;
}

label{
  margin: 15px;
}

.btn{
  padding: 15px;
  border-radius: 5px;
  margin: 30px 0;
}

.btnDelet{
  background: #fd5c63;
}

.btnModif{
  background: #BA55D3;
}

.img{
  width: 100%;
}

/*ANCHOR - text style */

.header_text{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
}


.text_center{
  text-align: center;
}

/*ANCHOR - Flex */

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center
}

.flex-row{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.column_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*****************************ANCHOR - box**********************/

/*ANCHOR - size */
.w-30{
  width: 30%;
}

.w-40{
  width: 40%;
}

.w-100{
  width: 100wv;
}

.h-100{
  height: 100vh;
}

.h-100pr{
  height: 100%;
}

.w-900{
  max-width: 900px;
}

/*ANCHOR - margin, padding */
.m-auto{
  margin: auto;
}

.mt-30{
  margin-top: 30px;
}

.m-50{
  margin: 50px;
}

.p-30{
  padding: 30px;
}

.p-10{
  padding: 10px;
}
/*ANCHOR - style */
.outline{
  outline: thick double #BA55D3; 
}

.border{
  border: 1px solid black;
}